{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0">All User Credentials</h4>
            </div>
            <div class="card-body">
                <!-- Insecure implementation showing all users credentials with plaintext passwords -->
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>User</th>
                                <th>Service</th>
                                <th>Username</th>
                                <th>Password</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cred in credentials %}
                            <tr>
                                <td>{{ cred.id }}</td>
                                <td>{{ cred.username }}</td>
                                <td>{% autoescape false %}{{ cred.service_name }}{% endautoescape %}</td>
                                <td>{% autoescape false %}{{ cred.credential_username }}{% endautoescape %}</td>
                                <td class="text-danger">{{ cred.password }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}